# =======================================================
# 1. ФАЙЛИ, ЩО ГЕНЕРУЮТЬСЯ (ЗАГАЛЬНІ ПРАВИЛА)
# =======================================================

# 1.1. Скомпільовані Java/Maven (Backend)
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.jar
*.war
*.ear
*.log

# 1.2. Скомпільовані Node/React (Frontend)
**/node_modules/
**/build/
**/dist/
npm-debug.log
yarn-error.log
.cache/
.eslintcache

# 1.3. Секрети та конфігурація
.env
.env.local

# -------------------------------------------------------
# 2. СПЕЦИФІЧНІ ФАЙЛИ IDE та ОС
# -------------------------------------------------------

### IntelliJ IDEA
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS та Windows ###
.DS_Store
Thumbs.db
